/* src/index.css or your custom CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    @apply text-slate-900;
    background: linear-gradient(135deg, #cfdbe6 0%, #e8f0f6 50%, #cfdbe6 100%);
    background-attachment: fixed;
}